.titlecard-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.titlecard-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5px;
    transition: 0.5s ease-in-out;
    gap: 5px;
    cursor: pointer;
}

.titleList-edit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titlecard-block:hover {
    background-color: var(--grey);
}