.titleList-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    min-height: 200px;
    height: auto;
}

.titleList-block {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.titleList-card {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

@media(max-width: 767px) {
    .titleList-content {
        flex-direction: column;
    }

    .titleList-block {
        flex-direction: column;
    }
}