/* Contenedor del menú de la navbar */
.navbar-label {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.navbar-label.open {
    max-height: 1000px;
}

.navbar-label-content li {
    list-style: none;
    margin: 10px 0;
}

.navbar-label-content li a {
    text-decoration: none;
    color: var(--white);
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 16px;
    background-color: var(--blue);
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-label-content li.active a {
    background-color: var(--green);
    transition: 0.4s ease-in-out;
    color: var(--white);
    width: 100%;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.9);
}

.navbar-label-content li a:hover {
    background-color: var(--green);
    transition: 0.4s ease-in-out;
    color: var(--white);
    width: 100%;
}

.navbar-btn {
    cursor: pointer;
}

/* Estilos submenu */
.navbar-btn-circle,
.navbar-btn-circle-B {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.title-secondary {
    color: white;
    text-decoration: none;
}

/* Ocultar submenú por defecto */
.submenu {
    display: none;
    position: absolute;
    background-color: var(--white);
    list-style: none;
    padding: 10px;
    right: 0;
    height: 60vh;
    gap: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.navbar-btn-submenu {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.navbar-label-content .submenu li {
    margin: 20px;

}

.submenu a {
    color: var(--white);
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}

/* Mostrar submenú cuando se pasa el cursor sobre el contenedor */


.profile-menu:hover .submenu {
    display: block;
}


@media (min-width: 768px) {
    .navbar-label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
        position: static;
        max-height: none;
    }

    .navbar-label-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .navbar-label-content li {
        margin: 0 20px;
        text-align: center;
        width: 150px;
        background-color: rgba(0, 0, 0, 0.1);
        color: var(--black);
    }

    .navbar-label-content li a,
    .navbar-label-content li a:hover,
    .navbar-label-content li.active a {
        border-radius: 5px;
    }

    .profile-menu {
        margin-left: auto;
    }

    .submenu {
        height: 40vh;
    }

}

@media (max-width: 767px) {


    .navbar-label {
        height: 130vh;
        justify-content: center;
        background-color: var(--white);
        top: -200px;
    }

    .submenu {
        display: block;
        position: absolute;
        background-color: var(--white);
        list-style: none;
        padding: 10px;
        left: 0;
        height: 70vh;
        gap: 20px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    .navbar-label-content li a {
        padding: 20px;
    }

    .navbar-btn-circle {
        display: none;
    }

}