.login-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.form p {
    color: var(--black);
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.btn-login {
    width: 100%;
    max-width: 100%;
}

.btn-login:hover {
    background-color: var(--green);
}

.line {
    width: 100%;
    padding-top: 50px;
    border-bottom: 1px solid var(--grey);

}

@media (min-width: 768px) {
    .login-screen {
        padding-top: 40px;
        max-width: 400px;
    }

    .form {
        max-width: 400px;
    }

}


@media (min-width: 1024px) {}